* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
}
$blue: #05386B;
$green: rgb(92,219,149);
$white: #EDF5E1; /*----------------------------Overlay NavBar---------------------------------*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $green;
  overflow: hidden;
  transition: 0.5s;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  color: $blue;
  cursor: pointer;
  transition: 0.5s;
  display: block;
}

.overlay-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: grid;
    grid-gap: 50px;

    li {
      text-align: center;

      a {
        display: block;
        text-decoration: none;
        color: $blue;
        font-size: 2em;
        transition-property: color;
        transition: 0.5s;

        &:hover {
          color: $white;
        }

        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
/*--------------------------Here Starts the Content--------------------------*/

#landing-container {
  background-image: url("../images/asd-min.webp");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 40% 60%;

  div {
    background-color: rgba($green, 0.8);
  }
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 25vh;
    border-radius: 20px;
    background-color: #cca92c;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
  }
}

.main-text {
  color: $white;
  font-size: 1.7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;

  * {
    text-transform: lowercase;
  }

  .name-text {
    h1 {
      text-decoration: underline;
      display: inline-block;
      margin-left: -10px;

      &:first-of-type {
        padding-left: 10px;
      }
    }
  }

  ul {
    li {
      text-decoration: none;
    }
  }
}

.lateral-navbar {
  display: none;
  color: $blue;
}
/*-----------------------------Title Presets---------------------------------*/

.title {
  color: rgba($white, 0.5);
  text-align: center;
  font-size: 3em;
  padding-bottom: 2vh;
  grid-column: span 2;
}

.blue-bg {
  background-color: $blue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 5vh;
}

.green-bg {
  background-color: $green;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 5vh;
}

.limited-width {
  width: 90vw;
  margin-left: 5vw;
}
/*---------------------------About Me----------------------------------------*/
.about-me {
  #who-am-i {
    color: $white;
    text-align: center;
  }
}
/*----------------------------Skills------------------------------------------*/

.skills-grid {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 10px;
}

.grid-item {
  margin-top: 20px;
  width: 25vw;
  height: 25vw;
  color: black;
  text-transform: lowercase;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 7px 10px rgba(5,56,107,0.7);

  .icon {
    border-radius: 50%;
    transform: translateY(-50%);
    width: 6vh;
    height: 6vh;
  }

  div {
    transform: translateY(-2vh);
  }
}
/*-----------------------------Projects--------------------------------------*/

.projects-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

  a {
    width: 60vw;
    height: 25vh;
    text-decoration: none;
    display: block;
    background-color: $white;
    color: $blue;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;

    &:hover {
      background-color: $green;
    }

    .project {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        padding: 5px 0;
        text-align: center;
        border-bottom: 1px solid $blue;
      }

      .click-tip {
        font-style: italic;
        font-size: 0.7em;
        color: rgb(162,162,162);
        border: none;
      }
    }
  }
}
/*------------------------------Contact Me-----------------------------------*/

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contact {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  box-shadow: 0 7px 10px rgba(5,56,107,0.7);

  form {
    display: grid;
    grid-gap: 10px;

    input {
      width: 100%;
      border: 0;
      outline: 0;
      background-color: transparent;
      border-bottom: 1px solid $blue;
      padding: 12px 20px;
    }

    textarea {
      width: 100%;
      padding: 12px 20px;
      overflow: auto;
      border: 0;
      outline: 0;
      background-color: transparent;
      border-bottom: 1px solid $blue;
    }
  }

  input[type=submit] {
    padding: 12px 20px;
    color: $white;
    background-color: $blue;
    border-radius: 10px;
    width: 40vh;
    margin-top: 10px;
    justify-self: center;

    &:hover {
      background-color: $green;
      color: $blue;
    }
  }
}
/*---------------------------------Footer-------------------------------------*/

footer {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div {
    padding-top: 20px;
  }

  .social-bar {
    ul {
      list-style: none;
      display: flex;

      li {
        padding-left: 5px;

        a {
          display: block;
          text-decoration: none;
          color: $white;
          font-size: 2em;
          transition-property: color;
          transition: 0.5s;

          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}
/*-----------------------------Animation Keyframes---------------------------*/
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/*------------------------------Media Queries--------------------------------*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .overlay-content ul li a {
    font-size: 40px;
  }

  .main-text {
    font-size: 1.6em;
  }

  .title {
    font-size: 5em;
    grid-column: span 3;
  }

  .about-me #who-am-i {
    font-size: 1.2em;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-item {
    width: 20vw;
    height: 20vw;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-toggle {
    font-size: 50px;
  }

  .overlay-content ul li a {
    font-size: 50px;
  }

  .main-text {
    font-size: 1.8em;
  }

  .form-contact {
    width: 70%;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;

    a {
      width: 35vw;
      height: 25vh;
      justify-self: center;
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-text {
    font-size: 2.5em;
  }

  .main-text .name-text h1 {
    margin-left: -15px;
  }

  .title {
    grid-column: span 4;
  }

  .about-me #who-am-i {
    font-size: 1.5em;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .form-contact {
    width: 50%;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;

    a {
      width: 25vw;
      height: 25vh;
      justify-self: center;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-toggle {
    transition: 0.5s;
    display: none;
  }

  #landing-container {
    display: flex;

    div {
      flex-basis: 0;
    }

    .profile-photo {
      order: 2;
      flex-grow: 1;
    }

    .main-text {
      padding-top: 0;
      order: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
      flex-grow: 2;
    }

    .lateral-navbar {
      display: flex;
      order: 3;
      justify-content: flex-end;
      padding-right: 2vw;
      align-items: center;
      flex-grow: 1;

      ul {
        list-style: none;

        li {
          text-decoration: none;
          padding: 10px 0;

          a {
            text-decoration: none;
            color: inherit;
            display: block;
            font-size: 2em;
            transition: 0.5s;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  .limited-width {
    width: 90vw;
    margin-left: 5vw;
    padding-left: 0;
  }

  .grid-item {
    width: 18vw;
    height: 18vw;
  }

  .form-contact {
    width: 40%;
  }
}
